.information-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;

  &__card {
    display: flex;
    justify-content: stretch;
    flex-flow: row nowrap;
    background-color: white;
    width: 45rem;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;

    @media only screen and (max-width: 490px) {
      flex-flow: column nowrap;
      height: 250px;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: flex-start;
      gap: 20px;
      margin: 20px 0;
      padding: 0 20px;
      border-right: 1px solid lightgray;

      &:last-of-type {
        border-right: none;
      }

      @media only screen and (max-width: 490px) {
        border: none;
        margin: 0;
        gap: 0;
        align-items: center;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
    margin: 0;
    text-align: center;

    @media only screen and (max-width: 490px) {
        margin-bottom: 0.5em;
    }
  }

  &__text {
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding-bottom: 0.5rem;
  }
}
